@import './main.css';

.harvest-locations {
  display: flex;
  justify-content: space-evenly;
}

.harvest-locations__image {
  border-radius: 3px;
  height: 200px;
  width: 250px;
}

.harvest-locations__location {
  margin: 10px;
  border: 2px solid orchid;
  border-radius: 5px;
  background-color: aqua;
}


