@import './main.css';

.harvest-locations {
  display: flex;
  justify-content: space-evenly;
}

.harvest-locations__location {
  margin: 10px;
  border: 1px solid orchid;
  background-color: aqua;
}

.harvest-locations__location img {
  height: 200px;
  width: 250px;
}

#collapsable {
  display: none;
}

.details-btn {
  background-color: rgb(0, 238, 255);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .details-btn:hover {
    background-color: rgb(172, 229, 255);
    transition: .2s;
  }
