@import './locations.css';

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-evenly;

}

.navbar a {
  
}

.navbar__fishes a {
  text-decoration: none;
  
}

.navbar__locations a {
  text-decoration: none;
}

.container-home {
  display: flex;
  justify-content: space-between;
}

.fishList {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
  
}

.fishlist__card img {
  height: 200px;
  width: 250px;
}

.fishlist__card {
  border: 1px solid orchid;
  border-radius: 5px;
  margin: 5px;
  flex-shrink: inherit;
}

aside {
  flex-basis: 20%;
}

.tankTips {
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
  height: 100%;
}

.tankTips__tipCard {
  /* align-self: flex-end; */
  margin: 15px;
  
}


